<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1812692621-l3icqhl5s2s4djdp82jeue8drv2mgs35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1812692621-l3icqhl5s2s4djdp82jeue8drv2mgs35</string>
	<key>API_KEY</key>
	<string>AIzaSyDFaIxMEoG8Nvpjorijl8eLfwCQ6aIiJKM</string>
	<key>GCM_SENDER_ID</key>
	<string>1812692621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-85506</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-85506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1812692621:ios:355e818e7318b0f313acc4</string>
</dict>
</plist>